{% extends "layout.html" %}

{% block content %}
<div class="ui container">
    {% if download_id %}
    <div class="ui segment">
        <h3>Download log:</h3>
        <pre class="logs" id="text"></pre>
    </div>
    <div id="log-config" data-base-path="{{ base_path }}" data-download-id="{{ download_id }}"></div>
    {% else %}
    <div class="ui ">
        <h3>Log:</h3>
        <pre class="logs" id="text"></pre>
    </div>
    <div id="log-config" data-base-path="{{ base_path }}" data-download-id=""></div>
    {% endif %}
</div>
<script src="{{ base_path }}/static/app.js"></script>
<style>
    .logs {
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 100%;
        overflow-wrap: break-word;
        word-break: break-word;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        max-height: 600px;
        overflow-y: auto;
    }
</style>
{% endblock %}
